*
!.vscode
!.vscode/**
.vscode/launch.json
.vscode/settings.json

!doc
!doc/**
doc/MattDaemon\ 4.1.pdf

!images
!images/**

!MattDaemon
!MattDaemon/**
MattDaemon/build
MattDaemon/build/**
MattDaemon/MattDaemon

!Ben_AFK
!Ben_AFK/**
Ben_AFK/build
Ben_AFK/build/**
Ben_AFK/Ben_AFK

!Casey_AFK
!Casey_AFK/**
Casey_AFK/build
Casey_AFK/build/**
Casey_AFK/Casey_AFK


!Ben_AFK_Term
!Ben_AFK_Term/**
Ben_AFK_Term/build
Ben_AFK_Term/build/**
Ben_AFK_Term/Ben_AFK_Term

!.gitignore
!README.md
!README_es.md
!LICENSE
!TODO.md
